extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id })).media
	.media-left
			a(href='/blog/post/' + post.slug)
				if post.image.exists
					img(src=post._.image.fit(80,80)).media-object
				else
					img(src="http://placehold.it/80x80").media-object
	.media-body
		h3.media-heading
			a(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.categories && post.categories.length
				| in 
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
			if post.author
				| by #{post.author.name.first}
		
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...
block content
	.container
		a(href='/keystone/posts?new').btn.btn-default.pull-right= user ? 'Write Post' : 'Sign in to Write Post'
		h1=category ? category.name : 'Blog'
	.container:.row
		.col-sm-8
			if filters.category && !category
				h3 Invalid Category.
			else
				if posts.results.length
					if posts.totalPages > 1
						.lead.text-muted Showing 
							strong #{posts.first}
							|  to 
							strong #{posts.last}
							|  of 
							strong #{posts.total}
							|  posts
					else
						.lead.text-muted Showing #{utils.plural(posts.results.length, '* post')}
					.blog
						each post in posts.results
							+post(post)
					if posts.totalPages > 1
						ul.pagination
							if posts.previous
								li: a(href='?page=' + posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in posts.pages
								li(class=posts.currentPage === p ? 'active' : null)
									a(href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
							if posts.next
								li: a(href='?page=' + posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + posts.totalPages): span.glyphicon.glyphicon-chevron-right
				else
					if category
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") No posts in the category #{category.name}.
					else
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") There are no posts yet.
		.col-sm-4
			if categories.length
				.lead.text-muted Categories
				ul.nav.nav-pills.nav-stacked
					li(class=!category ? 'active' : null)
						a(href='/blog') All
					each cat in categories
						li(role="presentation" class=category && category.id === cat.id ? 'active' : null)
							a(href='/blog/' + cat.key)
								=cat.name
								if cat.postCount
									span.badge.pull-right= cat.postCount
